/**
 * 2018-2020 Alma SAS
 *
 * THE MIT LICENSE
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated
 * documentation files (the "Software"), to deal in the Software without restriction, including without limitation
 * the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and
 * to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the
 * Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
 * WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF
 * CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
 * IN THE SOFTWARE.
 *
 * @author    Alma SAS <contact@getalma.eu>
 * @copyright 2018-2020 Alma SAS
 * @license   https://opensource.org/licenses/MIT The MIT License
 */
.alma-section .alma-payment-logo {
    background: url("data:image/svg+xml,%3Csvg width='46' height='24' viewBox='0 0 46 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.3003 11.6483V11.53H5.63109C4.84557 11.53 4.26298 11.6088 3.88332 11.7666C3.51674 11.9112 3.33346 12.2333 3.33346 12.7328C3.33346 13.4821 3.85713 13.8568 4.90448 13.8568C5.78164 13.8568 6.39696 13.6728 6.75044 13.3047C7.11702 12.9234 7.3003 12.3713 7.3003 11.6483ZM4.25644 16.0259C3.02579 16.0259 2.11591 15.7235 1.52677 15.1188C0.937635 14.501 0.643066 13.7056 0.643066 12.7328C0.643066 11.5628 1.02273 10.7215 1.78206 10.2088C2.54139 9.68294 3.70003 9.42002 5.25797 9.42002H7.3003V8.98621C7.3003 8.0134 6.68499 7.527 5.45435 7.527C4.35462 7.527 3.74585 7.94767 3.62802 8.78901H0.878721C0.970364 7.77677 1.38931 6.92885 2.13554 6.24526C2.88178 5.56167 4.00769 5.21987 5.51326 5.21987C7.00574 5.21987 8.13164 5.5551 8.89097 6.22554C9.6503 6.89599 10.03 7.8425 10.03 9.06508V15.7893H7.5556V14.6456C6.96646 15.5658 5.86674 16.0259 4.25644 16.0259Z' fill='%23042736'/%3E%3Cpath d='M16.2978 13.3835V15.7695C16.0229 15.809 15.7349 15.8287 15.4338 15.8287C14.3471 15.8287 13.5747 15.5987 13.1165 15.1385C12.6583 14.6653 12.4292 13.9094 12.4292 12.8709V1H15.2177V12.6737C15.2177 12.9234 15.2636 13.1075 15.3552 13.2258C15.4469 13.3441 15.6367 13.4033 15.9247 13.4033C15.9902 13.4033 16.0622 13.4033 16.1407 13.4033C16.2324 13.3901 16.2847 13.3835 16.2978 13.3835Z' fill='%23042736'/%3E%3Cpath d='M27.3177 9.913V15.7893H24.5292V9.65665C24.5292 8.30261 23.9793 7.62559 22.8796 7.62559C22.2381 7.62559 21.7406 7.82278 21.3871 8.21716C21.0467 8.61154 20.8765 9.1571 20.8765 9.85384V15.7893H18.0879V5.4565H20.6605V6.71852C21.1973 5.71942 22.1857 5.21987 23.6258 5.21987C24.9874 5.21987 25.9824 5.70627 26.6108 6.67908C27.4879 5.70627 28.6269 5.21987 30.0278 5.21987C31.2322 5.21987 32.1552 5.59453 32.7967 6.34386C33.4382 7.09318 33.759 8.09228 33.759 9.34115V15.7893H30.9704V9.65665C30.9704 8.30261 30.4205 7.62559 29.3208 7.62559C28.6662 7.62559 28.1687 7.82936 27.8283 8.23688C27.4879 8.63126 27.3177 9.18997 27.3177 9.913Z' fill='%23042736'/%3E%3Cpath d='M42.3378 11.6483V11.53H40.6686C39.8831 11.53 39.3005 11.6088 38.9208 11.7666C38.5542 11.9112 38.3709 12.2333 38.3709 12.7328C38.3709 13.4821 38.8946 13.8568 39.942 13.8568C40.8191 13.8568 41.4345 13.6728 41.7879 13.3047C42.1545 12.9234 42.3378 12.3713 42.3378 11.6483ZM39.2939 16.0259C38.0633 16.0259 37.1534 15.7235 36.5643 15.1188C35.9751 14.501 35.6806 13.7056 35.6806 12.7328C35.6806 11.5628 36.0602 10.7215 36.8196 10.2088C37.5789 9.68294 38.7375 9.42002 40.2955 9.42002H42.3378V8.98621C42.3378 8.0134 41.7225 7.527 40.4918 7.527C39.3921 7.527 38.7833 7.94767 38.6655 8.78901H35.9162C36.0079 7.77677 36.4268 6.92885 37.173 6.24526C37.9193 5.56167 39.0452 5.21987 40.5508 5.21987C42.0432 5.21987 43.1691 5.5551 43.9285 6.22554C44.6878 6.89599 45.0675 7.8425 45.0675 9.06508V15.7893H42.5931V14.6456C42.004 15.5658 40.9042 16.0259 39.2939 16.0259Z' fill='%23042736'/%3E%3Crect y='20.5591' width='45.731' height='3.2665' fill='%23FF414D'/%3E%3C/svg%3E%0A") no-repeat center center / 12rem auto;
    height: 100px;
    width: auto;
    padding-left: 20rem;
    display: inline-block;
    vertical-align: middle;
}

.alma-section .button-container {
    float: right;
}

.alma-section .alma-payment-text {
    display: inline-block;
    vertical-align: middle;
    width: 50%
}
