/**
 * 2018-2020 Alma SAS
 *
 * THE MIT LICENSE
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated
 * documentation files (the "Software"), to deal in the Software without restriction, including without limitation
 * the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and
 * to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the
 * Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
 * WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF
 * CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
 * IN THE SOFTWARE.
 *
 * @author    Alma SAS <contact@getalma.eu>
 * @copyright 2018-2020 Alma SAS
 * @license   https://opensource.org/licenses/MIT The MIT License
 */
.alma-section .alma-payment-logo {
    background: url("images/alma.svg") no-repeat center / 17rem auto;
    height: 100px;
    width: auto;
    padding: 0 14rem 0 6rem;
    display: inline-block;
    vertical-align: middle;
}

.alma-section .button-container {
    float: right;
}

.alma-section .alma-payment-text {
    display: inline-block;
    vertical-align: middle;
    width: 50%
}
#payment_us_alma_insurance colgroup.label {
    width: 10%;
}
#payment_us_alma_insurance colgroup.scope-label {
    width: 10%;
}
#payment_us_alma_insurance colgroup.value {
    width: 80%;
}

#payment_us_alma_insurance td {
    width: 0;
}
#payment_us_alma_insurance td.value {
    height: 40em;
}

