/**
 * 2018-2020 Alma SAS
 *
 * THE MIT LICENSE
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated
 * documentation files (the "Software"), to deal in the Software without restriction, including without limitation
 * the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and
 * to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the
 * Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
 * WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF
 * CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
 * IN THE SOFTWARE.
 *
 * @author    Alma SAS <contact@getalma.eu>
 * @copyright 2018-2020 Alma SAS
 * @license   https://opensource.org/licenses/MIT The MIT License
 */
@font-face {
    font-family: 'alma';
    src: url('../fonts/alma.eot');
    src: url('../fonts/alma.eot?#iefix') format('embedded-opentype'),
    url('../fonts/alma.woff') format('woff'),
    url('../fonts/alma.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.admin__menu .level-0.item-alma > a:before {
    font-family: 'alma';
    content: '\e800';
    font-size : 3.2rem;
    padding: 0 0 25px 0;
}

li#menu-vendor_extension-menu_id > a > span {
display: none;
}

.alma_collapse:after {
    content: '' !important;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-top-color: #000;
    border-style: solid;
    border-width: 0.8rem 0.5rem 0 0.5rem;
    margin-top: 6px;
    margin-left: 5px;
    transition: all .2s linear;
}
.alma_collapse.open:after {
     border-color: transparent;
     border-bottom-color: #000;
     border-width: 0 0.5rem 0.8rem 0.5rem;
}
#alma_soc_detail_title_message, #alma_soc_detail_title_comment {
    padding: 10px 0;
    cursor: pointer;
}
#alma_soc_detail_content_message, #alma_soc_detail_content_comment {
    display: none;
    padding: 0 0 0 15px;
}
.message-alma {
    background: #fffbbb;
    border: none;
    border-radius: 0;
    color: #333333;
    font-size: 1.4rem;
    margin: 0 0 1px;
    padding: 1.8rem 4rem 1.8rem 5.5rem;
    position: relative;
    text-shadow: none;
}
.message-alma::before {
    border: 0;
    content: ' ';
    height: 80px;
    left: 0.3em;
    line-height: inherit;
    position: absolute;
    speak: none;
    text-shadow: none;
    width: 80px;
    background:url('../images/alma-insurance-small.png') no-repeat;
    background-size: 60%;
}
.alma-test-mode {
    display: flex;
    flex-flow: row;
    background-color: #FFF5CC;
    padding: 24px;
    margin: 20px 0;
    border-radius: 20px;
}
.alma-test-mode-warning{
    padding: 5px;
}

.alma-test-mode-text {
    padding: 5px;
    line-height: 24px;
}

