<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Alma_MonthlyPayments::alma" title="Alma" translate="title" sortOrder="10">
                    <resource id="Alma_MonthlyPayments::api" title="API Access" translate="title" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
