<?xml version="1.0"?>
<!--
/**
 * 2018 Alma / Nabla SAS
 *
 * THE MIT LICENSE
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated
 * documentation files (the "Software"), to deal in the Software without restriction, including without limitation
 * the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and
 * to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the
 * Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
 * WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF
 * CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
 * IN THE SOFTWARE.
 *
 * @author    Alma / Nabla SAS <contact@getalma.eu>
 * @copyright 2018 Alma / Nabla SAS
 * @license   https://opensource.org/licenses/MIT The MIT License
 *
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <alma_monthly_payments translate="excluded_products_message title description eligibility_message non_eligibility_message">
                <model>AlmaMonthlyPaymentsGatewayFacade</model>

                <active>0</active>
                <sort_order>1</sort_order>
                <debug>0</debug>

                <order_status>processing</order_status>
                <payment_action>capture</payment_action>
                <currency>EUR</currency>
                <can_initialize>1</can_initialize>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
                <can_void>0</can_void>
                <can_refund>0</can_refund>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>0</is_gateway>

                <excluded_product_types>virtual,downloadable</excluded_product_types>
                <excluded_products_message>Virtual and downloadable products aren't eligible</excluded_products_message>

                <live_api_key backend_model="Alma\MonthlyPayments\Model\Adminhtml\Config\ApiKey\LiveAPIKeyValue" />
                <test_api_key backend_model="Alma\MonthlyPayments\Model\Adminhtml\Config\ApiKey\TestAPIKeyValue" />
                <api_mode>test</api_mode>

                <return_url backend_model="Alma\MonthlyPayments\Model\Adminhtml\Config\ApiUrl\ReturnUrlValue"/>
                <ipn_callback_url backend_model="Alma\MonthlyPayments\Model\Adminhtml\Config\ApiUrl\IpnCallbackUrlValue"/>
                <customer_cancel_url backend_model="Alma\MonthlyPayments\Model\Adminhtml\Config\ApiUrl\CustomerCancelUrl"/>

                <title>Monthly Payments with Alma</title>
                <description>Pay in 3 monthly payments with your credit card.</description>

                <show_eligibility_message>1</show_eligibility_message>
                <eligibility_message>Eligible for monthly payments</eligibility_message>
                <non_eligibility_message>Not eligible for monthly payments</non_eligibility_message>
            </alma_monthly_payments>
        </payment>
    </default>
</config>
