<?xml version="1.0"?>
<!--
/**
 * 2018 Alma / Nabla SAS
 *
 * THE MIT LICENSE
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated
 * documentation files (the "Software"), to deal in the Software without restriction, including without limitation
 * the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and
 * to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the
 * Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
 * WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF
 * CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
 * IN THE SOFTWARE.
 *
 * @author    Alma / Nabla SAS <contact@getalma.eu>
 * @copyright 2018 Alma / Nabla SAS
 * @license   https://opensource.org/licenses/MIT The MIT License
 *
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <alma_monthly_payments
                translate="excluded_products_message title description eligibility_message non_eligibility_message widget_position widget_container_css_selector">
                <model>AlmaMonthlyPaymentsGatewayFacade</model>

                <active>0</active>
                <fully_configured>0</fully_configured>
                <sort_order>1</sort_order>
                <debug>0</debug>

                <order_status>processing</order_status>
                <payment_action>capture</payment_action>
                <currency>EUR</currency>
                <can_initialize>1</can_initialize>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
                <can_void>0</can_void>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <payment_expiration>20</payment_expiration>
                <excluded_product_types>virtual,downloadable</excluded_product_types>
                <excluded_products_message>Virtual and downloadable products aren't eligible</excluded_products_message>

                <live_api_key backend_model="Alma\MonthlyPayments\Model\Adminhtml\Config\ApiKey\LiveAPIKeyValue"/>
                <test_api_key backend_model="Alma\MonthlyPayments\Model\Adminhtml\Config\ApiKey\TestAPIKeyValue"/>
                <api_mode>test</api_mode>

                <return_url backend_model="Alma\MonthlyPayments\Model\Adminhtml\Config\ApiUrl\ReturnUrlValue"/>
                <ipn_callback_url
                    backend_model="Alma\MonthlyPayments\Model\Adminhtml\Config\ApiUrl\IpnCallbackUrlValue"/>
                <customer_cancel_url
                    backend_model="Alma\MonthlyPayments\Model\Adminhtml\Config\ApiUrl\CustomerCancelUrl"/>
                <failure_return_url
                    backend_model="Alma\MonthlyPayments\Model\Adminhtml\Config\ApiUrl\FailureReturnUrl"/>
                <share_checkout_enabled>2</share_checkout_enabled>
                <alma_merge_payment>0</alma_merge_payment>
                <title>Alma monthly and deferred payments</title>
                <description>Pay in deferred or multiple monthly payments with your credit card.</description>
                <alma_installments_payment_title>Pay in installments with Alma</alma_installments_payment_title>
                <alma_installments_payment_desc>Fast and secure payment by credit card</alma_installments_payment_desc>
                <alma_spread_payment_title>Spread your payments with Alma</alma_spread_payment_title>
                <alma_spread_payment_desc>Fast and secure payment by credit card</alma_spread_payment_desc>
                <alma_deferred_payment_title>Buy now, Pay later with Alma</alma_deferred_payment_title>
                <alma_deferred_payment_desc>Fast and secure payment by credit card</alma_deferred_payment_desc>

                <trigger_is_allowed>0</trigger_is_allowed>
                <trigger_is_enabled>0</trigger_is_enabled>
                <trigger_typology>At shipping</trigger_typology>

                <show_eligibility_message>1</show_eligibility_message>
                <eligibility_message>Eligible for monthly payments</eligibility_message>
                <non_eligibility_message>Not eligible for monthly payments</non_eligibility_message>

                <widget_active>1</widget_active>
                <widget_price_use_qty>1</widget_price_use_qty>
                <widget_position>catalog.product.view.before.addtocart.alma.widget</widget_position>
                <widget_container_css_selector>#maincontent</widget_container_css_selector>
            </alma_monthly_payments>
        </payment>
    </default>
</config>
