<!-- ko if: getCurrentMode() != 'live' -->
<div class="alma-test-mode">
    <div class="alma-test-mode-warning">
        <img data-bind="attr: { src: require.toUrl('Alma_MonthlyPayments/images/warning.svg'), alt: 'test mode warning'}">
    </div>
    <div class="alma-test-mode-text">
        <b><span data-bind="text: $t('Alma is currently being tested')"></span></b><br>
        <span data-bind="text: $t('The transaction will be fake and the order will not be completed if you chose the payement method')"></span><br>
    </div>
</div>
<!-- /ko -->
