.alma-cart-eligibility img {
    height: 45px;
}

.alma.payment-method .alma-plan-choices label {
    cursor: pointer;
    width: 28%;
    display: inline-block;
}
.alma.payment-method .alma-plan-choices label span {
    position: relative;
    padding-left: 0.2rem;
    bottom: 0.2rem  ;
}

.alma.payment-method .alma-plan-logo {
    height: 25px;
    vertical-align: bottom;
}

.alma.payment-method .alma-method-logo{
    position: relative;
    padding : 0 10px;
    float: right;
    bottom: 3.8rem;
    width: 50px;
}

.alma.payment-method ul.alma-installments {
    padding: 0;
    margin-bottom: 2rem;
}

.alma.payment-method ul.alma-installments li {
    list-style-type: none;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid silver;
}

.alma.payment-method ul.alma-installments li:last-child {
    border-bottom: none;
}

.alma.payment-method .alma-installment--amount-column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.alma.payment-method .alma-installment--amount {
    font-weight: bolder;
}

.alma.payment-method .alma-installment--fee {
    font-weight: lighter;
    font-size: smaller;
}
.alma.payment-method .payment-method-description {
    font-size: smaller;
    color:grey;
    position:relative;
    bottom: 20px;
}
.alma-insurance-iframe {
    height: 20rem;
    border: none;
}
