name: Continuous integration

on:
  push:
    branches:
      - develop
      - main
  pull_request:
    branches:
      - develop
      - main

jobs:
  ci:
    name: Lint and tests
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Install taskfile.dev
        uses: arduino/setup-task@v2
        with:
          version: 3.x
          repo-token: ${{ github.token }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          tools: composer:v2

      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Lint
        run: task lint

      - name: Run PHPUnit tests with coverage
        run: task test
